html {
    width: 100vw;
    height: max(100vw, 100vh);
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: max(100vw, 100vh);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(135deg, transparent 0% 40%, #333 50%, #222),
        linear-gradient(315deg, transparent 0% 40%, #333 50%, #222);
}

#logo {
    width: 60vw;
    height: auto;
    padding: 16px;
    margin: 2vh 20vw 0;
    border: 6px solid black;
    border-radius: 24px;
    box-shadow: 10px 6px black;
    background-image:
        linear-gradient(0deg, #999, #666);
}

#title {
    width: 50vw;
    padding: 8px;
    margin: 4vh 25vw 0;
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 4vw;
    color: #ccc;
    border-color: #ccc;
    border-width: 8px;
    border-style: groove none none;
}

#subtitle {
    width: 32vw;
    padding: 0 6vw;
    margin: 1vh 28vw 0;
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 2vw;
    color: #ccc;
    border-color: #555;
    border-width: 6px;
    border-style: none dotted none;
}
